# Home work 1

https://mountain-hydrology-research-group.github.io/data-analysis/homework/HW1/

## Labs to go through(1.1&1.2):
https://mountain-hydrology-research-group.github.io/data-analysis/labs/lab1.1/

Download the files containing observed instantaneous peak flow data for the Sauk River and Skykomish Rivers in western WA. Note that annual peak flows are reported by water years (which cover Oct 1 of the previous year to September 30), so some years appear to have two values. (For clarification, the water years are shown in an additional column in the excel files.) For the purposes of this assignment, we will only consider peak flows by water year, and the years requested below refer to water years. (For example, the first flood reported in the Skykomish occurred on Oct 10, 1928 – this is the flood of water year 1929.)

A. Plot the data from the two streamflow sites as a time series from 1929-2009, with an open circle representing each peak flow value. Be sure to label your axes appropriately and label which graph is associated with which river. Describe qualitatively any changes you see in these records through time. Is there a common theme between the two sites?

B. For the Sauk River only, graphically examine the entire timeseries and the peak flows occurring before and after 1975 (1929-1974, and 1975-2017). Prepare the following plots, taking care to make sure that they are well-labeled, readable, and convey meaningful information.
1. Histograms for the Sauk River for the entire period and each of the sub- periods (3 total).
2. Quantile plots using the Cunnane plotting position (see section 2.1.3 in H&H) for the Sauk River for the entire period, and for each sub-period. The 3 plots should be plotted on one graph, with different line types and a legend.
3. PDFs for the Sauk River for the entire period, and for each sub-period. The 3 plots should be plotted on one graph, with different line types and a legend.
4. For each of the sub-groupings in 2, estimate the sample mean and standard deviation. Assuming a Gaussian distribution, add theoretical curves to the plots in 2 for Gaussian CDFs that have the same means and standard deviations as calculated for the actual data. (The graph should now have 6 lines – label carefully.)
5. Box and whisker plots for each of the periods above (total, pre-1975 and 1975-present), with appropriate labels.

C. Based on the plots you have created, discuss whether or not you think a change has occurred in the peak flows around 1975. Be sure to reference your plots (Fig. 1, Fig. 2, etc.) when you discuss them.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#import dataset
df_sauk=pd.read_excel('Sauk_peak_WY1929_2017.xlsx')
df_skykomish=pd.read_excel('Skykomish_peak_flow_12134500_skykomish_river_near_gold_bar.xlsx')

In [31]:
#rearrange the data so can be used in python
df_sk=pd.DataFrame.copy(df_sauk.loc[7:,:])
df_sk.columns=list(df_sauk.loc[5,:])
df_sk.head()

   water_year              peak_dt peak_va gage_ht
7        1929  1928-10-09 00:00:00   21800    9.33
8        1930  1930-02-05 00:00:00   15200    7.99
9        1931  1931-01-28 00:00:00   21800    9.32
10       1932  1932-02-26 00:00:00   68500   15.83
11       1933  1932-11-13 00:00:00   42500   12.62

In [32]:
df_skykomish.head()

  date of peak  water year  peak value (cfs)  gage_ht (feet)
0   1928-10-09        1929             18800           10.55
1   1930-02-05        1930             15800           10.44
2   1931-01-28        1931             35100           14.08
3   1932-02-26        1932             83300           20.70
4   1932-11-13        1933             72500           19.50